{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 49.82728871961092,
    "longitude": 18.38783302450421,
    "elevation": 220,
    "unit_system_v2": "metric",
    "location_name": "Domov",
    "time_zone": "Europe/Prague",
    "external_url": "https://ha.hanusek.net",
    "internal_url": "http://10.0.0.67:8123",
    "currency": "CZK",
    "country": "CZ",
    "language": "en",
    "radius": 30
  }
}